# POSTGRES CONTAINER CONFIG
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=multitrack_db

# SPRING BOOT APP CONFIG
DB_URL=jdbc:postgresql://multitrack-postgres:5432/multitrack_db
DB_USERNAME=
DB_PASSWORD=
JWT_ACCESS_TOKEN_EXPIRATION_SECONDS=86400

# EMAIL CONFIG (Brevo / Resend)
# Brevo API key starts with xkeysib-
BREVO_API_KEY=
# Brevo Sender Email MUST be a sender email verified in your Brevo Account (e.g. nguyenlenguyen20199@gmail.com)
BREVO_SENDER_EMAIL=
MAIL_FROM=
RESEND_API_KEY=
