# POSTGRES CONTAINER CONFIG
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=multitrack_db

# SPRING BOOT APP CONFIG
DB_URL=jdbc:postgresql://multitrack-postgres:5432/multitrack_db
DB_USERNAME=
DB_PASSWORD=
JWT_ACCESS_TOKEN_EXPIRATION_SECONDS=86400
